<div class="container-fluid">
    <div class="bg-white mt-5 ">
        <h5 class="text-primary" style="padding: 10px 15px;"><i class="fas fa-th-list"></i>  排程發佈文章</h5>
        <hr style="margin-top: -5px;">
        <div>
            <button class="btn btn-primary mb-2" data-toggle='modal' data-target='#addModal' id="add">新增</button>
                <div class="row">
                    <div class="col-md-11  ml-5">
                        <table id="table_id" class="table">
                            <thead>
                                <tr>
                                    <th></th> 
                                    <th>文章ID</th>
                                    <th>文章標題</th>
                                    <th>文章主題</th>
                                    <th>文章分類</th>
                                    <th>創立時間</th>
                                    <th>發佈日期</th>
                                    <th>發佈狀態</th>
                                    <th>動作</th>
                                </tr>
                            </thead>
                        </table>
                    </div>     
                </div>
            
       
            
            <hr>
        </div>
    </div>
</div>


<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">新增排程文章</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-9">
                    <form id="articleForm">
                        <div class="form-group mb-3 ml-3">
                            <label>請選擇文章 ：</label>
                            <select id="articlename" name="articlename">
                            </select>
                        </div>
                        
                        <div class="form-group mb-3 ml-3">
                            <label>請輸入發佈時間 ：</label>
                            <input type="datetime-local" class="form-control" id="articletime" name="articletime">
                        </div>
                    </form>
                </div>     
                <div class="col-md-3">
                    <img id="coverimg" style="max-width: 200px; margin-top: 20px; margin-left: 20px;">
                </div> 
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
          <button type="button" class="btn btn-primary" id="addconfirm">儲存</button>
        </div>
      </div>
    </div>
  </div>

<script>
$(document).ready( function () {

        table=$('#table_id').DataTable({
  "bProcessing": true,
  "sAjaxSource": "/gettasks",
  "fnServerParams": function (aoData){ 
          aoData.push({ "name": "subject", "value": 0}); 
      },
  "aoColumns": [
      { "mData": "id", "sWidth": '3%'},
      { "mData": "article_id", "sWidth": '7%'},
      { "mData": "title", "sWidth": '18%'},
      { "mData": "subjectname", "sWidth": '10%'},
      { "mData": "category", "sWidth": '10%'},
      { "mData": "createdate", "sWidth": '13%'},
      { "mData": "publish_date", "sWidth": '13%'},
      { "mData": "status", "sWidth": '8%'},
      { "mData": "id", "sWidth": '18%',

      "mRender":function(val,type,row) {
          
          return " &nbsp<button class='btn btn-danger btn-circle' onclick='deleteEvent(\""+val.toString()+"\")' type='button'><span class='fa fa-trash' aria-hidden='true' ></span></button>";
        }
  
  
  
      }
  ],
  "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
      $(nRow).attr("data-id",aData.ser);
      return nRow;
  },
  "language": {
      "processing": "資料載入中...",
      "lengthMenu": "每頁顯示 _MENU_ 筆",
      "zeroRecords": "資料庫中未有相關資料。",
      "info": "第 _PAGE_ 頁，共 _PAGES_ 頁",
      "infoEmpty": "資料庫中未有相關資料。",
      "search":  "搜尋:",
      "paginate": {
            "first":      "第一頁",
            "last":       "最後一頁",
            "next":       "下一頁",
            "previous":   "上一頁"
        }
  }
});
} );


$("#add").click(function(){
    $.ajax({ 
        url: '/getlistarticleN',
        type: 'GET',
        cache: false, 
        success: function(result){
            var optionstring="";
            //console.log(result);
            // alert('Success!'+data.result.code);
            result.data.forEach(element => {
                optionstring += "<option data-subject=\""+element.subject+"\" data-category=\""+element.category+"\" data-createtime=\""+element.createdate+"\" value=\"" + element.id + "\" >" +  element.title + "</option>";
            });
            $("#articlename").html("<option value=''>===請選擇===</option> "+optionstring); 
            
        }, 
        error: function(jqXHR, textStatus, err){
          alert('text status '+textStatus+', err '+err);
        }
      });
});

$("#addconfirm").click(function(){

var an=$("#articlename").val();
var ant=$("#articlename").children("option:selected").text();
var as=$("#articlename").children("option:selected").data("subject");
var ac=$("#articlename").children("option:selected").data("category");
var act=$("#articlename").children("option:selected").data("createtime");
var at=$("#articletime").val();

//console.log(an);
//console.log(ant);
//console.log(as);
//console.log(ac);
//console.log(act);
//console.log(at);

var data={"articleid":an,"title":ant,"subjects":as,"category":ac,"createdate":act,"publishtime":at};


$.ajax({ 
     url: '/addtask',
     type: 'POST',
     data:data,
     cache: false, 
     success: function(data){
        alert("新增成功");
        table.ajax.reload();
     }, 
     error: function(jqXHR, textStatus, err){
         alert('text status '+textStatus+', err '+err);
     }
});

   
   $('#addModal').modal('hide');
});

function deleteEvent(val){
        nowid=val;
          if(confirm("確定要刪除嗎?")){
                $.ajax({ 
                url: '/removetask',
                type: 'POST',
                data:{"id":val},
                cache: false, 
                success: function(data){
                    table.ajax.reload();
                    //alert("刪除成功");
                }, 
                error: function(jqXHR, textStatus, err){
                alert('text status '+textStatus+', err '+err);
                }
                 });
         }
      }


</script>