<footer class="footer-inner position-relative mt-5">
  <h3><a href="#" target="_blank">Copyright &copy; 2020 Wade部落格</a></h3>
  <p><a href="#" target="_blank">wadeio595@gmail.com</a></p>
</footer>

<style>
.footer-inner
{
    bottom: 0;
    left:0px;
    width: 100%;
    height: 100px;
    text-align:center;
    background:#262626;
    padding:16px 32px;
    text-decoration:none;
}

.footer-inner a{
  text-decoration:none;
  color:rgb(255, 255, 255) !important;
  font-size:14px;
}
</style>